---
apiVersion: v1
kind: ConfigMap
metadata:
  name: taiga-backend-config
data:
  TAIGA_SITES_SCHEME: {{ .Values.taiga.scheme | quote }}
  TAIGA_SITES_DOMAIN: {{ .Values.ingress.host | quote }}
  TAIGA_SUBPATH: ""
  PUBLIC_REGISTER_ENABLED: {{ .Values.taiga.publicRegisterEnabled | quote }}
  ENABLE_TELEMETRY: {{ .Values.taiga.enableTelemetry | quote }}
  EMAIL_BACKEND: {{ .Values.taiga.email.backend | quote }}
  {{- if eq .Values.taiga.email.backend "smtp" }}
  DEFAULT_FROM_EMAIL: {{ .Values.taiga.email.defaultFrom | quote }}
  EMAIL_HOST: {{ .Values.taiga.email.host | quote }}
  EMAIL_PORT: {{ .Values.taiga.email.port | quote }}
  EMAIL_USE_TLS: {{ .Values.taiga.email.useTLS | quote }}
  EMAIL_USE_SSL: {{ .Values.taiga.email.useSSL | quote }}
  {{- end }}
  EVENTS_PUSH_BACKEND: "taiga.events.backends.rabbitmq.EventsPushBackend"
  ATTACHMENTS_MAX_AGE: {{ .Values.taiga.attachmentsMaxAge | quote }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: taiga-frontend-config
data:
  TAIGA_URL: "{{ .Values.taiga.scheme }}://{{ .Values.ingress.host }}"
  TAIGA_WEBSOCKETS_URL: "{{ .Values.taiga.websocketsScheme }}://{{ .Values.ingress.host }}"
  TAIGA_SUBPATH: ""
  PUBLIC_REGISTER_ENABLED: {{ .Values.taiga.publicRegisterEnabled | quote }}
