{{- $postgresPassword := randAlphaNum 32 }}
{{- $rabbitmqPassword := randAlphaNum 32 }}
{{- $rabbitmqErlangCookie := randAlphaNum 32 }}
{{- $taigaSecretKey := randAlphaNum 64 }}
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
data:
  POSTGRES_USER: {{ .Values.postgres.user | b64enc | quote }}
  POSTGRES_PASSWORD: {{ $postgresPassword | b64enc | quote }}
  POSTGRES_DB: {{ .Values.postgres.database | b64enc | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-secret
type: Opaque
data:
  RABBITMQ_DEFAULT_USER: {{ .Values.rabbitmq.user | b64enc | quote }}
  RABBITMQ_DEFAULT_PASS: {{ $rabbitmqPassword | b64enc | quote }}
  RABBITMQ_DEFAULT_VHOST: {{ .Values.rabbitmq.vhost | b64enc | quote }}
  RABBITMQ_ERLANG_COOKIE: {{ $rabbitmqErlangCookie | b64enc | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: taiga-backend-secret
type: Opaque
data:
  TAIGA_SECRET_KEY: {{ $taigaSecretKey | b64enc | quote }}
  {{- if eq .Values.taiga.email.backend "smtp" }}
  EMAIL_HOST_USER: {{ .Values.taiga.email.user | b64enc | quote }}
  EMAIL_HOST_PASSWORD: {{ .Values.taiga.email.password | b64enc | quote }}
  {{- end }}
stringData:
  POSTGRES_HOST: "postgres-0.postgres-service.{{ .Release.Namespace }}.svc.cluster.local"
  POSTGRES_PORT: "5432"
  POSTGRES_DB: {{ .Values.postgres.database | quote }}
  POSTGRES_USER: {{ .Values.postgres.user | quote }}
  POSTGRES_PASSWORD: {{ $postgresPassword | quote }}
  CELERY_BROKER_URL: "amqp://{{ .Values.rabbitmq.user }}:{{ $rabbitmqPassword }}@rabbitmq-0.rabbitmq-service.{{ .Release.Namespace }}.svc.cluster.local:5672/{{ .Values.rabbitmq.vhost }}"
  EVENTS_PUSH_BACKEND_URL: "amqp://{{ .Values.rabbitmq.user }}:{{ $rabbitmqPassword }}@rabbitmq-0.rabbitmq-service.{{ .Release.Namespace }}.svc.cluster.local:5672/{{ .Values.rabbitmq.vhost }}"
  RABBITMQ_USER: {{ .Values.rabbitmq.user | quote }}
  RABBITMQ_PASS: {{ $rabbitmqPassword | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: taiga-events-secret
type: Opaque
data:
  SECRET_KEY: {{ $taigaSecretKey | b64enc | quote }}
  TAIGA_SECRET_KEY: {{ $taigaSecretKey | b64enc | quote }}
  RABBITMQ_USER: {{ .Values.rabbitmq.user | b64enc | quote }}
  RABBITMQ_PASS: {{ $rabbitmqPassword | b64enc | quote }}
stringData:
  TAIGA_EVENTS_RABBITMQ_HOST: "rabbitmq-0.rabbitmq-service.{{ .Release.Namespace }}.svc.cluster.local"
  RABBITMQ_HOST: "rabbitmq-0.rabbitmq-service.{{ .Release.Namespace }}.svc.cluster.local"
  RABBITMQ_PORT: "5672"
  RABBITMQ_VHOST: {{ .Values.rabbitmq.vhost | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: taiga-protected-secret
type: Opaque
data:
  SECRET_KEY: {{ $taigaSecretKey | b64enc | quote }}
  TAIGA_SECRET_KEY: {{ $taigaSecretKey | b64enc | quote }}
stringData:
  MAX_AGE: {{ .Values.taiga.attachmentsMaxAge | quote }}
