apiVersion: apps/v1
kind: Deployment
metadata:
  name: taiga-front
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: taiga-front
  template:
    metadata:
      labels:
        app: taiga-front
    spec:
      containers:
      - name: taiga-front
        image: {{ .Values.image.frontend.name }}:{{ .Values.image.frontend.tag }}
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        envFrom:
        - configMapRef:
            name: taiga-frontend-config
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "200m"
